<nav class="navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a routerLink="/"><span class="glyphicon glyphicon-chevron-left"></span> Get back</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" *ngIf="post && post.id">
  <h3>{{ post.title }}</h3>

  <h4 *ngIf="user && user.id">
    <a href="mailto:{{ user.email }}">{{ user.name }}</a>
  </h4>

  <div class="panel panel-default">
    <div class="panel-body">
      {{ post.body }}
    </div>
  </div>

  <div *ngIf="comments && comments.length">
    <h5>Comments:</h5>

    <ul class="list-group">
      <li class="list-group-item comment-item" *ngFor="let comment of comments">
        <p class="comment-name">{{ comment.name }}</p>
        <span>{{ comment.body }}</span>
      </li>
    </ul>
  </div>
</div>