<nav class="navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="/form"><span class="glyphicon glyphicon-plus"></span> Add new post</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <h2>List of posts ({{ totalItems }})</h2>

  <div class="form-group">
    <label for="title">Search for title:</label>
    <p *ngIf="filter">Current query: '{{ filter }}'</p>
    <input type="text" class="form-control" id="title" #title>
  </div>

  <div class="text-center">
    <pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)" *ngIf="totalItems > itemsPerPage"></pagination>
  </div>

  <ul class="list-group" *ngIf="posts && posts.length">
    <li class="list-group-item" *ngFor="let post of posts">
      <h3 class="post-title" (click)="selectPost(post)">{{ post.title }}</h3>
      <p>{{ post.body | substr:60 }}</p>
    </li>
  </ul>
</div>